In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from tqdm import tqdm
import seaborn as sns
from tqdm import tqdm
from matplotlib import rc
import chardet
from sklearn.impute import SimpleImputer

In [8]:
pd.read_csv('단기육상예보/rawData/weather_data_2022.csv')

,REG_ID,TM_FC,TM_EF,MOD,NE,STN,C,MAN_ID,MAN_FC,W1,T,W2,TA,ST,SKY,PREP,WF
11H20701,202201010500,202201010000,A02,0,159,2,dougkim,김도욱,N,1,NE,-99,10,DB01,0,맑음,NaN
11H20701,202201010500,202201011200,A02,1,159,2,dougkim,김도욱,NE,1,E,6,20,DB03,0,구름많음,NaN
11H20701,202201010500,202201020000,A02,2,159,2,dougkim,김도욱,SW,1,W,-7,20,DB03,0,구름많음,NaN
11H20701,202201010500,202201021200,A02,3,159,2,dougkim,김도욱,NW,1,N,10,0,DB01,0,맑음,NaN
11H20701,202201010500,202201030000,A02,4,159,2,dougkim,김도욱,N,1,NE,-8,20,DB03,0,구름많음,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11H20701,202212311700,202301021200,A02,4,159,2,bongkyu,이봉규,NW,1,N,6,20,DB03,0,구름많음,NaN
11H20701,202212311700,202301030000,A02,5,159,2,bongkyu,이봉규,NW,1,N,-6,0,DB01,0,맑음,NaN
11H20701,202212311700,202301031200,A02,6,159,2,bongkyu,이봉규,NW,1,N,6,0,DB01,0,맑음,NaN
11H20701,202212311700,202301040000,A02,7,159,2,bongkyu,이봉규,NW,1,N,-6,0,DB01,0,맑음,NaN
11H20701,202212311700,202301041200,A02,8,159,2,bongkyu,이봉규,NW,1,N,7,0,DB01,0,맑음,NaN

In [6]:
pd.read_csv('단기육상예보/refinedData/weather_2022.csv')

,TM_EF,REG_ID,MOD,NE,STN,C,MAN_ID,MAN_FC,W1,T,W2,TA,ST,SKY,PREP,WF
0,202201010000,11H20701,A02,0,159,2,yanghj,양호정,N,1,NE,-7.000000,11.428571,DB03,0,구름많음
1,202201011200,11H20701,A02,0,159,2,yanghj,양호정,SW,1,W,5.333333,21.111111,DB03,0,구름많음
2,202201020000,11H20701,A02,0,159,2,yanghj,양호정,SW,1,W,-5.400000,16.000000,DB03,0,구름많음
3,202201021200,11H20701,A02,0,159,2,khj,고희종,NW,1,N,8.666667,0.000000,DB01,0,맑음
4,202201030000,11H20701,A02,0,159,2,khj,고희종,N,1,NE,-7.272727,9.090909,DB03,0,구름많음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,202212291200,11H20701,A02,0,159,2,jko0097,전경옥,NW,1,N,5.461538,11.538462,DB01,0,맑음
726,202212300000,11H20701,A02,0,159,2,jko0097,전경옥,N,1,NE,-5.272727,17.272727,DB03,0,구름많음
727,202212301200,11H20701,A02,0,159,2,jko0097,전경옥,NW,1,N,6.461538,13.076923,DB03,0,구름많음
728,202212310000,11H20701,A02,0,159,2,jko0097,전경옥,NW,1,N,-5.363636,6.363636,DB01,0,맑음
729,202212311200,11H20701,A02,0,159,2,bongkyu,이봉규,W,1,NW,6.923077,0.000000,DB01,0,맑음